.btn{
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  transition: 0.5s;
}

.btn-primary{
  background: #0d6efd;
  color: white;
}

.btn-primary:hover{
  background: darkblue;
  transition: 0.5s;
}

.warning{
  background: orange;
  color: white;
}

.error{
  background: red;
  color: white;
}